DATA_FOLDER=/home/user/n8n-docker-caddy
DOMAIN_NAME=yourdomain.com
SUBDOMAIN=n8n
GENERIC_TIMEZONE=Europe/Berlin

SSL_EMAIL=example@example.com

# PostgreSQL settings
POSTGRES_USER=user
POSTGRES_PASSWORD=XXXYYYZZZ
POSTGRES_DB=postgres

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=XXX

# n8n smtp settings (Google)
# N8N_EMAIL_MODE=smtp
# N8N_SMTP_HOST=smtp.gmail.com
# N8N_SMTP_PORT=587
# N8N_SMTP_USER=example@example.com
# N8N_SMTP_PASS=XXXYYYZZZ
# N8N_SMTP_SENDER="n8n Notifications"
# N8N_SMTP_SSL=false

# n8n smtp settings (SendGrid)
SENDGRID_API_KEY=SG.XXX
N8N_EMAIL_MODE=sendgrid
N8N_SMTP_SENDER="n8n Notifications"
